// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

.header-text {
  font-size: 38pt;
  margin-top: 128px;
  margin-bottom: 43px;
}
.title-color {
  color: #36006C;
}
.font-24 {
  font-size: 24pt;
}
.font-21 {
  font-size: 21pt;
}
.description-text {
  font-size: 16pt;
  font-weight: 200;
  font-family: 'Roboto';
  opacity: 0.54;
  margin-bottom: 35px;
}
.throw-img {
  width: 63px;
  height: 138px;
  margin-top: 46px;
  margin-bottom: 26px;
}
.spinner {
  width: 150px;
  height: 138px;
  margin-top: 46px;
  margin-bottom: 26px;
  padding-top: 50px;
}
.comp-img {
  width: 150px;
  height: 138px;
  margin-top: 46px;
  margin-bottom: 26px;
}
.btn-area {
  width: 240px;
  height: 306px;
  margin-top: 41px;
}
.btn-area:hover {
  background-color: gray("200")
}
